/*
div {
    font-size: 1.05em;
}
*/

h1>a {
    color: black;
}
h1>a:hover {
    text-decoration: none;
}

.nav>li>a {
    padding: 5px 0px;
}

.nav>li>ul>li>a {
    padding: 3px 25px;
    font-size: 0.85em;
}

