@font-face {
    font-family: 'inconsolata';
    src: url('../fonts/inconsolata.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0px;
    height: 100%;
    color: #555;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'inconsolata', 'Courier';
    font-size: 15px;
    line-height: 18px;
    /*overflow: hidden;*/
}
#sidebar-wrapper {
    /*background-color: #404040;*/
    background-color: #E0DEDC;
    color: rgba(87,87,87,0.2);
}
.sidebar-nav {
    padding: 20px;
    margin-top: 0.5em;
}
.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav li a:hover {
    color: rgba(87,87,87,0.2);
}
    .sidebar-nav li a {
        line-height: 30px;
    }
#page-content-wrapper {
	/*position: fixed;*/
	height: 100%;
}
#page-content-wrapper div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.container-fluid, .row, .col-lg-12, #content  {
	height: 100%;
}
.heading {
    display: none;
}
.content {
    display: none;
}
#heading-overview {
    display: block;
}
#content-overview {
    display: block;
}
#model > iframe {
    height: 600px;
    width : 800px;
}
model > iframe {
    position: fixed;
}
.link-text {
    font-size: 80%;
}

/*
For custom documentation.
 */
.fp-docs-sidebar {
    font-size: 130%;
}
.fp-docs-sidebar.affix {
    top: 20px;
}

.fp-docs-sidebar ul {
    padding-left:1em;
    list-style-position: inside;
    list-style-type: none;
    display: block;
    font-size: 92%;
}

